#box-container{
    display: flex;
    justify-content:center;
    margin-top: 45vh;
    background-color: gray;
}
#box1{
    background-color: blue;
    padding: 10px;
    margin: 5px;
    height: 45px;
    width: 75px;
    border-radius: 5px;
}
#box2{
    background-color: blue;
    padding: 10px;
    margin: 5px;
    height: 45px;
    width: 325px;
    border-radius: 5px;
}
#box3{
    background-color: blue;
    padding: 10px;
    margin: 5px;
    height: 45px;
    width: 75px;
    border-radius: 5px;
}