body{
    background-image: linear-gradient(to right, rgb(205, 40, 67) , rgb(146,1,212));
}
#grid-container{
    display: grid;  
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px 5px;
    color: white;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large; 
    text-align: center;
    margin-top: 20vh;
}
.grid{
    background-color: pink;
    height: 60px;
    color:black;
}
.box9{
    background-color: orange;
    height: 125px;
    grid-column: 4/6;
    grid-row: 2/4;
    color:black;
}